
beheerapplicatie/.vs/beheerapplicatie/FileContentIndex/327d26ba-85f6-4f11-8298-087e9ce62c50.vsidx
beheerapplicatie/.vs/beheerapplicatie/FileContentIndex/327d26ba-85f6-4f11-8298-087e9ce62c50.vsidx
beheerapplicatie/.vs/beheerapplicatie/FileContentIndex/327d26ba-85f6-4f11-8298-087e9ce62c50.vsidx
beheerapplicatie/.vs/beheerapplicatie/FileContentIndex/327d26ba-85f6-4f11-8298-087e9ce62c50.vsidx
beheerapplicatie/.vs/beheerapplicatie/FileContentIndex/34e787e9-1b0f-401f-8ae0-843db551b9e0.vsidx
beheerapplicatie/.vs/beheerapplicatie/FileContentIndex/3cb675cf-e9ae-449e-b446-7a101cfa8b4b.vsidx
beheerapplicatie/.vs/beheerapplicatie/FileContentIndex/44bae33b-ff6f-4a25-9922-8b8742164e39.vsidx
*.vsidx
beheerapplicatie/.vs/beheerapplicatie/v17/.wsuo
beheerapplicatie/.vs/VSWorkspaceState.json
beheerapplicatie/.vs/slnx.sqlite
beheerapplicatie/obj/Debug/net6.0-windows/App.g.cs
beheerapplicatie/obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
beheerapplicatie/obj/Release/net6.0-windows/App.g.cs
beheerapplicatie/obj/Release/net6.0-windows/beheerapplicatie.AssemblyInfo.cs
beheerapplicatie/obj/Release/net6.0-windows/beheerapplicatie.AssemblyInfoInputs.cache
beheerapplicatie/obj/Release/net6.0-windows/beheerapplicatie.assets.cache
beheerapplicatie/obj/Release/net6.0-windows/beheerapplicatie.csproj.AssemblyReference.cache
beheerapplicatie/obj/Release/net6.0-windows/beheerapplicatie.GeneratedMSBuildEditorConfig.editorconfig
